.Header {
    padding: 17px;
    background-color: #fefdf9;
}

.Header ul li {
    display: inline-block;
    margin-left: 10%;
    
}

.Header ul li a{
    text-decoration: none;
    color: #000000;
}

.Header ul {
    margin-top: 3px;
    margin-left: 20%;
    
}
.img1{
    float: left;
}