body{
    background-color: #DEF9C4;
}

/* Css Responsavel por alterar a parte do branding do site*/
.Parte_1 img{
    float: right;
    margin-right: 20px;
}

.textoIMG{
    padding-top: 35px;
    margin-left: 100px;
}
#imagem{
    width: 250px;
    margin-right: 200px;
    margin-top: 60px;
    margin-left: 200px;
}

/* CSS responsavel pela a primeira descrição sobre os recurços do site */

#funcionalidades_1_btn{
    margin-left: 100px;
    margin-top: 50px;
}

#descrição_1{
    margin-top: 50px;
    margin-left: 150px;
    float: left;
}

#descrição_1 img{
    margin-right: 10px;
    width: 65px;
    float: left;
}

#descrição_2 {
    margin-top: 50px;
    margin-left: 45%;
    
    
}

#descrição_2 img{
    margin-right: 15px;
    width: 65px;
    float: left;
}

#div_espaço{
    margin-bottom: 100px;
}


/*Css para a parte 2 do site*/

.Parte_2{
    text-align: center;
}

.Parte_2 img{
    width: 60px;
}

.teste{
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
}

.teste ul{
    border: none;
}

.teste ul li {
    background-color: #DEF9C4;
    border: none;
}

.teste ul li img{
    width: 50px;
    float: left;
}

.teste ul li h3{
    margin-left: 80px;
}

.teste ul li p{
    margin-top: 20px;
}