body{
    background-color: #DEF9C4;
}

/* Css Responsavel por alterar a parte do branding do site*/
.Parte_1 img{
    float: right;
    margin-right: 20px;
}

.textoIMG{
    padding-top: 35px;
    margin-left: 100px;
}
#imagem{
    width: 250px;
    margin-right: 200px;
    margin-top: 60px;
    margin-left: 200px;
}

/* CSS responsavel pela a primeira descrição sobre os recurços do site */

.funcionalidades_1{
    margin-left: 100px;
    margin-top: 50px;
}

.funcionalidades_1 img{
    float: left;
    width: 55px;
}

.funcionalidades_1 p {
    margin-top: 4px;
}