body {
  background-color: #bff38f;
}

.form-container {
  padding: 20px;
  display: block;
  flex-direction: column;
  border: 1px solid #fefdf9;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  width: 490px;
  height: 710px;
  background-color: #fefdf9;
}

.img-register,
.form-title {
  color: #2e312d;
  align-items: center;
  padding: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.form-text {
  text-align: center;
  align-items: center;
  color: #5c5f5a;
  width: 281px;
  margin: 0 auto;
  height: 80px;
}

.form-control:focus {
  border-color: #a9ed69;
  box-shadow: none;
}

.btn-success {
  background-color: #16C64F !important;
  color: white !;
  border: #16C64F;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  outline: 2px solid #16C64F;
}

.btn-success:hover {
  background-color: white !important;
  color: #16C64F !important;
}

.next-page-button {
  margin: 0 auto;
  text-align: center;

}


