body{
    background-color: #DEF9C4;
}
.footer{
    background-color: #ffff;
}

.menuFooter{
    padding: 25px 0 0 0;
    margin-left: 38.5%;
}

.container a img{
    width: 65px;
    height: 65px;
    margin-bottom: 35px;
}

.container p{
    text-align: center;
    padding: 20px;
}





.tabelas1 table{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.tabelas1 table tr {
    margin-left: 50px;
}

.espacoTabelas{
    background-color: #ffff;
    border-radius: 12px;
    padding: 35px;
    margin-left: 100px;
    margin-right: 100px;
}


.tabela2 table{
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 100px;
}

.espacoTabela2{
    background-color: #ffff;
    border-radius: 12px;
    padding: 35px;
    margin-left: 100px;
    margin-right: 100px;
}

.espacoTabelas p {
    color: #adadad;
}

.espacoTabela2 p {
    color: #adadad;
}