<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/Header.css">
    <link rel="stylesheet" href="../CSS/landingPage.css">
    <title>Home</title>
</head>

<!--Header Inicio-->


<body>
    <Header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="../IMG/logo.png.jpeg" width="30" height="36" class="d-inline-block align-top" alt="">
                    FluxoPositivo
                </a>
            </nav>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Suporte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quem somos</a>
                    </li>
                    <div id="ordemBotao">
                        <nav class="navbar bg-body-tertiary"
                            style="position: absolute;top: 50%; right: 120px; transform: translateY(-45%);">
                            <form class="#">
                                <button class="btn btn-sm btn-outline-secondary" type="button"
                                    style="background-color: #b8b8b8; color:#ffff"><a href="../VIEW/login.html"
                                        style="color: #ffff; text-decoration: none;">Login</a></button>
                            </form>
                        </nav>
                    </div>
                    <nav class="navbar navbar-light"
                        style="position: absolute;top: 50%; right: 0; transform: translateY(-50%);">
                        <form class="#">
                            <button class="btn btn-sm btn-outline-secondary" type="button"
                                style="background-color: #129E3F; color:#ffff"><a href="../VIEW/registro.html"
                                    style="color: #ffff; text-decoration: none;">Comece já!</a></button>
                        </form>
                    </nav>

            </div>
        </nav>
    </Header>
    <main>
        
    </main>
    <footer>
        <footer>

<!--style temporario-->

            <div class="footer" style="margin-top: 50%;">
                <div class="menuFooter">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="color: #787878;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #787878;">Quem somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #787878;">Suporte</a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar bg-body-tertiary"></nav>
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="../IMG/logo.png.jpeg" alt="Bootstrap" width="30" height="24">
                    </a>
                    <a href="#" style="margin-left: 19%; color: #787878;">Politica de privacidade</a>
                    <a href="" style="margin-left: 19%; color: #787878;">Termos de serviços</a>
                    <button class="btn btn-outline-success me-2" type="button" style="margin-left: 8%;"><a
                            href="../VIEW/registro.html" style="color: #787878; text-decoration: none;">Começe
                            gratuitamente!</a></button>
                    <p style="margin-bottom: 0%;">@Tecnologicos.Inc</p>
                </div>
        </footer>
    </footer>

        <!-- JS Bootstrap Inicio-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- JS Bootstrap Fim -->
</body>

</html>