<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/Header.css">
    <link rel="stylesheet" href="../CSS/landingPage.css">
    <title>Menu Inicial</title>
</head>

<!--Header Inicio-->


<body>
    <Header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="../IMG/logo.png.jpeg" width="30" height="30" class="d-inline-block align-top" alt="">
                    FluxoPositivo
                </a>
            </nav>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(Página atual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Suporte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Quem somos</a>
                    </li>
                    <nav class="navbar navbar-light">
                        <form class="#">
                            <button class="btn btn-sm btn-outline-secondary" type="button"
                                style="background-color: #129E3F; color:#ffff">Comece já!</button>
                        </form>
                    </nav>
            </div>
        </nav>
    </Header>

    <!--Header Fim-->

    <main>
        <!--Introdução da pagina-->

        <!-- Tag de busca = Parte_1 inicio-->
        <div class="Parte_1">
            <img id="imagem" src="../IMG/logo_2.png.png" alt="#">
            <h1 class="textoIMG">Um controle financeiro<br> moderno que a sua<br> antiga planilha não te ofereçe </h1>
            <p class="textoIMG">Organize seu dinheiro em tempo real em uma solução completa,
                prática e segura. Tenha o controle de finanças que você sempre quis!</p>
        </div>

        <div id="div_espaço">
            <div id="funcionalidades_1_btn">
                <!-- A ideia do formulario é ele enviar o usuário para a pagina de cadastro-->
                <form class="#">
                    <button class="btn btn-sm btn-outline-secondary" type="button"
                        style="background-color: #129E3F; color:#ffff">Teste gratuitamente</button>
                </form>
                </nav>
            </div>
            <div id="descrição_1">
                <!-- a tag <img> e o <p> abaixo são a mini descrição de alguns recurços do site-->
                <img src="../IMG/cadeado.png" alt="">
                <p>Segurança dos seus dados em primeiro lugar</p>
            </div>

            <div id="descrição_2">
                <img src="../IMG/computador.png" alt="">
                <p>Acesse quando quiser, no <br>
                    celular ou computador</p>
            </div>
        </div>

        <!-- Tag de busca = Parte_1 Fim-->



        <!-- Tag de busca = Parte_2 Inicio-->

        <div class="Parte_2">
            <h1>A solução para um controle <br>
                financeiro de sucesso</h1>
        </div>

        <!--Essa é uma tabela que é responsavel por manter tudo em ordem com as breves descriçoes de 1 a 3-->
        <div class="teste">
            <ul class="list-group">
                <li class="list-group-item"><img src="../IMG/numero_1.png" alt="">
                    <h3>Cadastre todos os seus Gastos</h3>
                    <p>Mantenha tudo sob controle cadastrando suas contas e despesas organizadas por categorias.</p>
                </li>
                <li class="list-group-item"><img src="../IMG/numero_2.png" alt="">
                    <h3>Saiba o destino de cada centavo</h3>
                    <p>Informe sua renda e ganhos extras para ter previsibilidade financeira e tomar decisões
                        inteligentes.</p>
                </li>
                <li class="list-group-item"><img src="../IMG/numero_3.png" alt="">
                    <h3>Transforme controle financeiro em hábito</h3>
                    <p>Lance os gastos do dia a dia, acompanhe os relatórios e assuma o total controle das finanças.</p>
                </li>

        </div>

        <!-- Tag de busca = Parte_2 Fim-->


        <div class="Parte_3">
            <!-- Tag de busca = Parte_3 Inicio-->
            <h1>Entenda por que <br>
                controlar suas finanças <br>
                com a gente</h1>

            <table>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <div class="espaço_tabela">
                            <img src="../IMG/Seta.png" alt="">
                            <h4>Seu futuro mais seguro</h4>
                            <p>Com seu dinheiro organizado fica muito <br>
                                mais fácil planejar o futuro.</p>
                        </div>
                    </td>
                    <td>
                        <div class="espaço_tabela">
                            <img src="../IMG/Relogio.png" alt="">
                            <h4>Poupe seu tempo</h4>
                            <p>Concentre suas informações financeiras em <br>
                                um único lugar, e não perca tempo fazendo <br> as contas dos seus gastos financeiros
                                todo <br> o momento</p>
                        </div>
                    </td>
                    <td>
                        <div class="espaço_tabela">
                            <img src="../IMG/Grafico magico.png" alt="">
                            <h4>Previsibilidade mais <br> acertiva</h4>
                            <p>Tenha um controle mais eficiente e <br> preciso daquilo que irar sobrar no final <br> do
                                mês</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="espaço_tabela">
                            <img src="../IMG/like.png" alt="">
                            <h4>Simples de usar</h4>
                            <p>O sistema foi desenhado para ser intuitivo e <br>
                                tornar sua experiência cada vez mais <br> dinamica. Com uma baixa curva de <br>
                                aprendizado</p>
                        </div>
                    </td>
                    <td>
                        <div class="espaço_tabela">
                            <img src="../IMG/Relogio.png" alt="">
                            <h4>Controle financeiro sem anúncios</h4>
                            <p>Aque nos mostramos aquilo que realmente <br>importa e sem distrações</p>
                        </div>
                    </td>
                    <td>
                        <div class="espaço_tabela">
                            <img src="../IMG/suporte.png" alt="">
                            <h4>Suporte que funciona</h4>
                            </h4>
                            <p>Dúvidas? Sugestões? Nosso suporte gente <br>
                                boa ajuda você! A gente tá aqui para resolver <br>
                                seus problemas e deixar sua vida mais <br>
                                tranquila.</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!--Fim da Parte 3-->


        <!--Tag de localização = Parte_3 Fim-->


        <div class="Parte_4">
            <div id="inicio_Parte_4">
                <h1>Nossos principais recursos</h1>
                <p>Descubra as ferramentas que transformarão o seu controle financeiro pessoal,<br> oferecendo uma visão
                    nítida da sua situação financeira e ajudando você a tomar <br> decisões mais precisas para alcançar
                    seus objetivos.</p>
            </div>
            <table>
                <tr>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <div class="espaço_tabela_parte_4">
                            <img src="../IMG/Seta.png" alt="">
                            <h4>Controle das contas</h4>
                            <p>Gerencie todos os seus gastos com <br>um sistema intuitivo e eficiente</p>
                        </div>
                    </td>
                    <td>
                        <div class="espaço_tabela_parte_4">
                            <img src="../IMG/Relogio.png" alt="">
                            <h4>Resumo de gastos</h4>
                            <p>Controle preciso e detalhado dos gastos,<br>com resumos e graficos</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="espaço_tabela_parte_4">
                            <img src="../IMG/like.png" alt="">
                            <h4>Limite de gastos</h4>
                            <p>Defina metas para os seus<br>gastos</p>
                        </div>
                    </td>
                    <td>
                        <div class="espaço_tabela_parte_4">
                            <img src="../IMG/Relogio.png" alt="">
                            <h4>Criação de categorias</h4>
                            <p>Classificação de gastos por categoria</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </main>

    <footer>
        <div class="footer">
            <div class="menuFooter">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quem somos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Suporte</a>
            </li>
          </ul>
        </div>
          <nav class="navbar bg-body-tertiary"></nav>
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="../IMG/logo.png.jpeg" alt="Bootstrap" width="30" height="24">
              </a>
              <a href="#" style="margin-left: 19%;">Politica de privacidade</a>
              <a href="" style="margin-left: 19%;">Termos de serviços</a>
              <button class="btn btn-outline-success me-2" type="button" style="margin-left: 8%;">Começe gratuitamente!</button>
              <p>@Tecnologicos.Inc</p>
        </div>
    </footer>


    <!-- JS Bootstrap Inicio-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- JS Bootstrap Fim -->
</body>

</html>