<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/Header_Interno.css">
    <link rel="stylesheet" href="../CSS/visao_geral.css">
    <link rel="shortcut icon" href="../IMG/logo.png.jpeg">


    <title>Visão geral</title>
</head>

<body>
    <header>
        <nav class="Header">
            <a href="../VIEW/alteração_dados.html" class="img1"><img src="../IMG/configurações.png" alt=""
                    style="width: 25px; margin-left: 10px;"></a>
            <a href="javascript:void(0);" class="img1" data-toggle="modal" data-target="#exampleModalCenter">
                <img src="../IMG/sino.png" alt="" style="width: 30px; margin-left: 20px;">
            </a>
            <ul>
                <li><a href="visao_geral.html">Visão geral</a></li>
                <li><a href="grafico_gastos.html">Grafico de gastos</a></li>
                <li><a href="gastos_categoria.html">Gastos por categoria</a></li>
                <a style="position: absolute; top: 52px; right: 30px;  transform: translateY(-90%);">
                    <button class="btn-logout" id="logout-button">Logout</button></a>
            </ul>

        </nav>

    </header>
    <main>
        <div class="tabelas1">
            <table>
                <p style="text-decoration: underline; margin-left: 20px; margin-top: 10px;" id="nameDashBoard">
                    Bem vindo Fulano</p>
                <tr>
                    <th></th>
                    <th></th>
                </tr>

                <tr>

                    <td>
                        <div class="espacoTabelas1">
                            <h6>Contas a Pagar </h6>
                            <p id="contasAPagar">No momento você não possui contas a pagar</p>
                            <button data-bs-toggle="modal" data-bs-target="#reg-modal"
                                style="color: white; background-color: rgb(41, 84, 224); border: none; padding: 5px 5px; cursor: pointer; border-radius: 5px;font-size: small; margin-top: 15px;">
                                Mais detalhes
                            </button>

                        </div>
                    </td>

                    <td>
                        <div class="espacoTabelas2">
                            <h6>Saldo Restante</h6>
                            <p id="saldoRestante">Nenhum Saldo para o mês atual</p>
                            <button data-bs-toggle="modal" data-bs-target="#reg-modal2"
                                style="color: white; background-color: rgb(41, 84, 224); border: none; padding: 5px 5px; cursor: pointer; border-radius: 5px;font-size: small; margin-top: 15px;">
                                Mais detalhes
                            </button>
                        </div>
                    </td>

                    <td>
                        <div class="espacoTabelas3">
                            <h6>Maiores gastos</h6>
                            <p id="maioresGastos">Sem gastos</p>
                            <button data-bs-toggle="modal" data-bs-target="#reg-modal3"
                                style="color: white; background-color: rgb(41, 84, 224); border: none; padding: 5px 5px; cursor: pointer; border-radius: 5px;font-size: small; margin-top: 15px;">
                                Mais detalhes
                            </button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </main>


    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Contas a pagar hoje</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="contasAPagarHoje">
                    Não a contas a pagar hoje
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


    <!--Modal para as explicaçoes-->

    <!--Modal Contas a pagar-->
    <div class="modal" tabindex="-1" id="reg-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Contas a pagar</h5>
                </div>
                <div class="modal-body">
                    <p>Neste card, você pode visualizar todas as contas a serem pagas, incluindo suas respectivas datas de vencimento e valores.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Saldo Restante-->
    <div class="modal" tabindex="-1" id="reg-modal2">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Saldo Restante</h5>
                </div>
                <div class="modal-body">
                    <p>Neste card, você pode visualizar todo o dinheiro que sobrou após o desconto de todas as despesas.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!--Modal Maiores Gastos-->
    <div class="modal" tabindex="-1" id="reg-modal3">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Maiores Gastos</h5>
                </div>
                <div class="modal-body">
                    <p>Este card apresenta os seus maiores gastos, juntamente com suas respectivas categorias.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Script de Request para API-->
    <script src="../SERVICES/logoutService.js"></script>
    <script src="../SERVICES/overviewPageServices/remainingBalanceService.js"></script>
    <script src="../SERVICES/overviewPageServices/accountsPayableService.js"></script>
    <script src="../SERVICES/overviewPageServices/highestExpensesService.js"></script>
    <script src="../SERVICES/overviewPageServices/accountsPaymentDateService.js"></script>
    <script src="../CONFIG/urlAPI.js"></script>
    <!-- Script de pegar dados do LocalStorage -->
    <script src="../SERVICES/localStorage/getDataAccont.js"></script>
    <!-- Script de PopUps -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- JS Bootstrap Inicio-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- JS Bootstrap Fim -->
</body>

</html>