<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/Header_Interno.css">
    <link rel="stylesheet" href="../CSS/visao_geral.css">
    <link rel="shortcut icon" href="../IMG/logo.png.jpeg">

    <title>Visão geral</title>
</head>

<body>
    <header>
        <nav class="Header">
            <a href="" class="img1"><img src="../IMG/configurações.png" alt=""
                    style="width: 25px; margin-left: 10px;"></a>
            <a href="" class="img1"><img src="../IMG/sino.png" alt="" style="width: 30px; margin-left: 20px;"></a>
            <ul>
                <li><a href="visao_geral.html">Visão geral</a></li>
                <li><a href="grafico_gastos.html">Grafico de gastos</a></li>
                <li><a href="#">Categoria de gastos</a></li>
                <a href="#" style="position: absolute; top: 98px; right: 13px;  transform: translateY(-90%);"><img
                        src="../IMG/logo sem nome.png" alt="" style="width: 80px;"></a>
            </ul>

        </nav>

    </header>
    <main>
        <div class="tabelas1">
            <table>

                <tr>
                    <th></th>
                    <th></th>
                </tr>

                <tr>

                    <td>
                        <div class="espacoTabelas">
                            <h6>Contas a Pagar </h6>
                            <p>No momento você não possui contas a pagar</p>
                        </div>
                    </td>

                    <td>
                        <div class="espacoTabelas">
                            <h6>Saldo Restante</h6>
                            <p>Nenhum Saldo para o mês atual</p>
                        </div>
                    </td>

                </tr>

            </table>
        </div>
        <div class="tabela2">
            <table>

                <tr>
                    <th></th>
                </tr>
                <tr>
                    <td>
                        <div class="espacoTabela2">
                            <h6>Maiores gastos do mês</h6>
                            <p>Sem gastos no período</p>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </main>
    <footer>
        <footer>

            <div class="footer">
                <div class="menuFooter">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#" style="color: #787878;">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #787878;">Quem somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" style="color: #787878;">Suporte</a>
                        </li>
                    </ul>
                </div>
                <nav class="navbar bg-body-tertiary"></nav>
                <div class="container">
                    <a class="navbar-brand" href="#">
                        <img src="../IMG/logo.png.jpeg" alt="Bootstrap" width="30" height="24">
                    </a>
                    <a href="#" style="margin-left: 19%; color: #787878;">Politica de privacidade</a>
                    <a href="" style="margin-left: 19%; color: #787878;">Termos de serviços</a>
                    <button class="btn btn-outline-success me-2" type="button" style="margin-left: 8%;"><a
                            href="../VIEW/registro.html" style="color: #787878; text-decoration: none;">Começe
                            gratuitamente!</a></button>
                    <p style="margin-bottom: 0%;">@Tecnologicos.Inc</p>
                </div>
            </div>
        </footer>
    </footer>

    <!-- JS Bootstrap Inicio-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- JS Bootstrap Fim -->
</body>

</html>